#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bunnycoin
#build/bunnycoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bunnycoin)

DEB_INSTALL_EXAMPLES_bunnycoind += debian/examples/*
DEB_INSTALL_MANPAGES_bunnycoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix bunnycoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f bunnycoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake bunnycoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_bunnycoin
	src/test_bunnycoin

# Ensure wrapper is set executable
binary-post-install/bunnycoind:
	chmod +x $(cdbs_curdestdir)usr/bin/bunnycoind
binary-post-install/bunnycoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/bunnycoin-qt
